
@import "tw-animate-css";
@import "tailwindcss";
@custom-variant dark (&:is(.dark *));
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(53, 53, 53);
  position: relative;

  color: #ffffff;

  overflow-x: hidden;

  min-height: 100vh;

  --logo-size: 100px;

  --black: #1f1a17;

  margin: 0;
}

.background-container {
  position: absolute;

  width: 100%;
  height: 100%;
  overflow: hidden;
  top: -57px;

  z-index: -1000;
}

.background {
  width: 150%;
  height: 2500px;
  left: 50%;
  top: 60px;

  position: absolute;
  content: "";

  background-image: url("/images/map.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -425px);

  z-index: -1;

  opacity: 0.4;

  overflow: hidden;
}

@font-face {
  font-family: "Frutiger";
  src: url("/Frutiger.ttf");
}

@font-face {
  font-family: "Frutiger Bold";
  src: url("/Frutiger_bold.ttf");
}

.content {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  max-width: 800px;
  margin: auto;
  margin-top: 50px;

  font-family: Frutiger, sans-serif;
}

.content.fullsize {
  max-width: 100%;
}

.title {
  font-size: 38px;
  background-color: black;
  color: white;
  text-decoration: none;

  width: 600px;
  height: var(--logo-size);

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Frutiger Bold, sans-serif;
}

.title .logo img {
  height: var(--logo-size);
}

.title.disabled {
  cursor: default;
}

.logo img {
  display: block;
}

.description {
  font-size: 18px;
  text-align: center;
}

.join {
  font-size: 20px;
  text-decoration: none;
  border-radius: 15px;
  padding: 15px 25px;

  background-color: #06005d;
  color: white;

  width: fit-content;

  cursor: pointer;
}

.join:hover {
  background-color: #060061;
}

.webring {
  width: 400px;

  background-color: black;

  border: 2px solid #fff;
}

.webring-title {
  font-family: Frutiger Bold, sans-serif;
  font-size: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;

  border-bottom: 2px solid #fff;
}

.webring-contents {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.webring-contents-inner {
  position: relative;
  width: 70%;
}

.station-dot {
  vertical-align: middle;
  width: 10px;
}

.station-logo {
  vertical-align: middle;
  width: 16px;
}

.linkmap-top {
  margin-bottom: 50px;

  z-index: 1;
  position: relative;
}

.line-outer {
  position: relative;
}

.line {
  --line-width: 6px;

  position: absolute;
  left: calc(5px - var(--line-width) / 2);
  top: 10px;
  bottom: 60px;
  width: var(--line-width);
  background-color: #c00;

  z-index: 0;
}

.webring-contents .arrow-down {
  position: absolute;

  --arrow-size: 15px;
  left: calc(0px - var(--arrow-size));
  height: var(--arrow-size);
  top: 3px;
}

.linkmap-text {
  display: inline-block;
  margin-left: 5px;

  padding: 2px;

  font-size: 16px;
  line-height: 16px;

  padding-top: 3px;
  padding-bottom: 1px;
}

.linkmap-text a {
  color: white;
  text-decoration: none;
}

.linkmap-text.start-station a {
  color: black;
}

.linkmap-text.start-station {
  font-weight: bold;
  color: black;
  background-color: white;
}

.linkmap-text.start-station::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right: 6px solid white;

  left: 13.4px;
  top: 0px;
}

.socials img {
  height: 30px;

  padding-left: 10px;
  padding-right: 10px;
}

.text-block {
  background-color: black;
  font-size: 18px;

  padding: 30px;

  border: 2px solid #fff;
}

.text-block-indented {
  padding-left: 50px;
  padding-right: 50px;

  margin: 1em 0;
}

.text-block p:not(.info-bar, .project-list p, .blog *) {
  padding-left: 55px;
  padding-right: 55px;
}

.blog {
  padding-top: 10px;

  font-size: 1rem;
  line-height: 1.4rem;

  font-family: Arial, Helvetica, sans-serif;
}

.blog a {
  color: white;
}

.blog-thumbnail, .blog img {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
}

.date {
  text-align: center;
}

.text-block :first-child {
  margin-top: 0;
}

.text-block :last-child {
  margin-bottom: 0;
}

.info-icon {
  width: 35px;

  padding-right: 20px;
}

.info-bar {
  display: flex;
  align-items: center;
}

.info-bar-title {
  font-size: 28px;
}

.footer {
  text-align: center;
}

.footer a {
  color: white;
}

.footer div {
  margin: 5px;
}

.project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.project-list div {
  flex: 40%;
}

.project-title {
  font-weight: bold;
  font-size: 23px;

  text-align: center;
}

.project-list a {
  color: white;
}

.project-actions-title {
  font-size: 20px;
  font-weight: bold;
}

.project-image {
  width: 100%;
}

@media only screen and (max-width: 700px) {
  body {
      --logo-size: 60px;
  }

  .title {
      width: 300px;
      font-size: 22px;
      height: var(--logo-size);
  }

  .webring {
    width: 350px;
  }

  .text-block-indented {
    padding-right: 0;
  }

  .text-block p:not(.info-bar) {
    padding-right: 0;
  }

  .webring-contents-inner {
    width: 72%;
  }

  .webring-title {
    font-size: 22px;
  }

  .project-list div {
    flex: 100%;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}